.container {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

.quote {
  position: relative;
  display: flex;
  gap: 0.2rem;
  height: 32px;
  width: 64px;
  margin-right: 0.4rem;
}

.title {
  line-height: 88%;
  flex-grow: 1;
  padding-right: 1rem;
}

.text {
  font-size: 12px;
  line-height: 108%;
}

@media(max-width: 366px) {
  .text {
    font-size: 10px;
  }
}