.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 900px;
  margin-top: 5rem;
}

.main {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 5rem;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 276px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media(max-width: 366px) {
  .container {
    width: 180px;
  }
}